@model AccountManagementApp2.Models.Account

@{
    ViewData["Title"] = "Create";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/js/knockout.js" type="text/javascript"></script>
<script src="~/js/Details.js" type="text/javascript"></script>
<h2>Create Account</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form >
            <div class="form-group">
                <label  class="control-label" for="firstNameDiv">First Name</label>
                <input  type="text" data-bind="input: firstName" class="form-control" id="firstNameDiv" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="lastNameDiv">Last Name</label> 
                <input type="text" data-bind="text: lastName"class="form-control" id="lastNameDiv" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="emailDiv">Email</label>
                <input type="text" data-bind="text: email" class="form-control" id="emailDiv"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"for="genderDiv">Gender</label>
                <input type="text" data-bind="text: gender" class="form-control"  id="genderDiv"/>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"for="dateOfBirthDiv">Date of  Birth</label>
                <input type="text" data-bind="text: dateOfBirth" class="form-control" id="dateOfBirthDiv" />
                <span  class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label class="control-label"for="createdDateDiv">Created Date</label>
                <input type="text" data-bind="text: createdDate" class="form-control" id="createdDateDiv"/>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"for="lastUpdatedDateDiv">Last Updated Date</label>
                <input type="text" data-bind="text: lastUpdatedDate" class="form-control" id="lastUpdatedDateDiv" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"for="deletionDateDiv">Deletion Date</label>
                <input type="text" data-bind="text: deletionDate" class="form-control" id="deletionDateDiv"/>
                <span class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label" for="isCompleteDiv">Completed Check Box</label>
                <input type="checkbox" data-bind="text: isComplete" class="form-control" id="isCompleteDiv" />
            </div>
            <div class="form-group">
                <button data-bind="click: function() { submit()}">create account</button>
            </div>
        </form>
    </div>
</div>

